.main-container {
    -fx-background-color: #DFDFDE;
}

Text {
    -fx-fill: #0F0F0F;
    -fx-font-size: 24;

}

TextField, ComboBox, .save-button {
    -fx-pref-width: 220;
    -fx-pref-height: 40;
    -fx-font-size: 20;
    -fx-background-color: transparent;
    -fx-border-color: #0F0F0F;
    -fx-border-radius: 4;
    -fx-border-width: 2;
}

.save-button {
    -fx-background-color: #0F0F0F;
    -fx-background-radius: 4;
    -fx-text-fill: #DFDFDE;
    -fx-cursor: hand;
}