.main-container {
    -fx-background-color: #DFDFDE;
}

Text {
    -fx-font-size: 24;
}

TextField, ComboBox {
    -fx-font-size: 20;
    -fx-background-color: transparent;
    -fx-border-color: #0F0F0F;
    -fx-border-width: 2;
    -fx-pref-height: 47;
    -fx-pref-width: 252;
}

.halfway {
    -fx-pref-width: 200;
}

.mandatory {
    -fx-font-size: 14;
    -fx-fill: red;
}

Button {
    -fx-background-color: #0F0F0F;
    -fx-pref-width: 200;
    -fx-pref-height: 35;
    -fx-text-fill: #FFFAF4;
    -fx-font-size: 20;
    -fx-background-radius: 4;
    -fx-cursor: hand;
}

ImageView {
    -fx-cursor: hand;
}