.main-container {
    -fx-background-color: #DEDEDF;
}

.title-text {
    -fx-font-size: 20;
}

.subtitle-text {
    -fx-font-size: 18;
}

Circle {
    -fx-fill: transparent;
    -fx-cursor: hand;
}

Button {
    -fx-background-radius: 4;
    -fx-background-color: #0F0F0F;
    -fx-text-fill: #DEDEDF;
    -fx-cursor: hand;
    -fx-font-size: 20;
    -fx-wrap-text: true;
    -fx-text-alignment: center;
}

PasswordField {
    -fx-pref-width: 180;
    -fx-pref-height: 40;
    -fx-background-color: transparent;
    -fx-border-color: #0F0F0F;
    -fx-border-radius: 4;
    -fx-border-width: 2;
}