.dashboard-container {
    -fx-background-color: #DFDFDE;
}

.title-text {
    -fx-font-size: 20;
}

.subtitle-text {
    -fx-font-size: 16;
}

ComboBox {;
    -fx-background-color: #0F0F0F;
    -fx-pref-height: 40;
    -fx-pref-width: 210;
    -fx-font-size: 20;
    -fx-background-radius: 4;
}

TextField {
    -fx-background-color: transparent;
    -fx-border-color: #0F0F0F;
    -fx-border-radius: 4;
    -fx-border-width: 2;
    -fx-pref-height: 40;
    -fx-pref-width: 210;
    -fx-font-size: 20;
}

ComboBox .combo-box-popup .list-view .list-cell {
    -fx-background-color: #0F0F0F;
    -fx-text-fill: #FFFAF4;
}

ComboBox .combo-box-popup .list-view .list-cell:hover {
    -fx-background-color: #9DB2BF;
}

ComboBox .text {
    -fx-fill: #FFFAF4;
}

ComboBox .arrow {
    -fx-background-color: #FFFAF4;
}

ImageView {
    -fx-fit-width: 100;
    -fx-fit-height: 100;
}

.ride-request-area {
    -fx-pref-width: 80;
}

.ride-request-scroll-pane {
    -fx-background-color: transparent;
    -fx-border-color: #0F0F0F;
    -fx-border-radius: 4;
    -fx-border-width: 2;
    -fx-hbar-policy: NEVER;
}

.ride-request-scroll-pane VBox {
    -fx-padding: 10;
    -fx-spacing: 10;
}